* {
    color: white;
}

footer {
    background-color: #3f3e42;
    height: 8vh;
    width: 100%;
}

#footer-container {
    background-color: #3f3e42;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1.1rem;
}

#links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#links > a {
    text-decoration: none;
    font-weight: bold;
    margin: 0 .5rem;
    padding: .5rem;
    white-space: nowrap;
}

#copyright {
    margin-top: .5rem;
    flex-basis: 100%;
}

#copyright > p {
    text-align: center;
    padding-bottom: .5rem;
}