<footer>
    <div id="footer-container">
        <div id="links">
            <a href="/contact">Contact</a>
            <a href="/terms">Terms of Service</a>
            <a href="/privacy">Privacy Policy</a>
            <a href="https://github.com/matt-s-hutton/clipclutch/issues" target="_blank">Report a Bug</a>
            <a href="https://github.com/matt-s-hutton/clipclutch" target="_blank">Source Code</a>
        </div>
        <div id="copyright">
            <p>© {{ year }} {{ name }}</p>
        </div>
    </div>
</footer>