#controls-card {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 50rem;
}

.controls-section {
    margin: 1rem 0 1rem 0;
}

#url-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#url-card > h3 {
    background: var(--URL_CARD_HEADER_BG);
}

#url-card > div {
    padding: 1rem;
    flex-basis: 100%;
    white-space: nowrap;
}

#url-io {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#url-card input {
    background: var(--URL_CARD_INPUT_BG);
    border: none;
    color: white;
    font-size: 1rem;
    height: 3rem;
    padding: 0 1rem;
    flex-basis: 100%;
}

#url-card input:focus {
    outline: none;
}

#url-card input::placeholder {
    color: white;
}
/* #url-card input.placehold-error-text::placeholder {
    color: var(--URL_CARD_INPUT_PLACEHOLDER_ERROR);
} */

#url-card button {
    /* position: relative; */
    /* top: .4rem;
    right: 3.2rem;
    width: 32px;
    height: 24px;
    padding: 1rem;
    box-sizing: content-box; */
    font-size: large;
    border-radius: 5px;
    margin: .5rem .5rem 0 .5rem;
    padding: .5rem;
    color: white;
    background: var(--URL_CARD_DOWNLOAD_BUTTON);
    outline: none;
    border: none;
    cursor: pointer;
}

#url-card button.button-disabled {
    box-shadow: inset 0 0 0 1000px rgba(194, 194, 194, 0.568);
}

#url-card button.button-disabled:hover {
    cursor: default;
}

/*

#url-card button.button-disabled:hover > svg {
    fill: var(--URL_CARD_DOWNLOAD_BUTTON_DISABLED);
}

#url-card .button-disabled > svg {
    fill: var(--URL_CARD_DOWNLOAD_BUTTON_DISABLED);
}

#url-card svg {
    fill: var(--URL_CARD_DOWNLOAD_BUTTON);
    background: none;
    border: none;
    width: 16px;
    height: 16px;
}

#url-card button:hover > svg {
    fill: var(--URL_CARD_DOWNLOAD_BUTTON_HOVER);
} */