#controls-card {
    margin-left: auto;
    margin-right: auto;
}

.controls-section {
    margin: 1rem 0 1rem 0;
}

#url-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#url-card > h3 {
    background: var(--URL_CARD_HEADER_BG);
}

#url-card > div {
    padding: 1rem;
    flex-basis: 100%;
    white-space: nowrap;
}

#url-io {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#url-card input {
    background: var(--URL_CARD_INPUT_BG);
    border: none;
    color: var(--URL_CARD_INPUT);
    caret-color: var(--URL_CARD_INPUT_CARET);
    font-size: 1rem;
    height: 3rem;
    padding: 0 1rem;
    flex-basis: 100%;
}

#url-card input:focus {
    outline: none;
}

#url-card input::placeholder {
    color: var(--URL_CARD_INPUT_PLACEHOLDER);
}

#urlError {
    margin-top: .5rem;
}