#controls-card {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 50rem;
}

.controls-section {
    margin: 1rem 0 1rem 0;
}

#url-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#url-card > h3 {
    background-color: #05668d;
}

#url-card > div {
    padding: 1rem;
    flex-basis: 100%;
    white-space: nowrap;
    margin: 0 1rem;;
}

#url-card input {
    background: #e1e1e1bd;
    border: none;
    border-bottom: 1px solid var(--URL_CARD_INPUT_BORDER);
    font-size: 1rem;
    height: 3rem;
    padding: 0 3rem 0 1rem;
    width: 100%;
}

#url-card input:focus {
    outline: none;
}

#url-card input.placehold-error-text::placeholder {
    color: #e5383b;
}

#url-card button {
    position: relative;
    top: .4rem;
    right: 3.2rem;
    width: 32px;
    height: 24px;
    padding: 1rem;
    box-sizing: content-box;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

#url-card button.button-disabled:hover {
    cursor: default;
}

#url-card button.button-disabled:hover > svg {
    fill: #525457a4;
}

#url-card .button-disabled > svg {
    fill: #525457a4;
}

#url-card svg {
    fill: #525457;
    background: none;
    border: none;
    width: 24px;
    height: 24px;
}

#url-card button:hover > svg {
    fill: #a8aaad;
}