<div id="controls-section">
    <form [formGroup]="videoForm" id="controls-card">
        <div class="card controls-section" id="url-card">
            <h3 class="card-title">Media</h3>
            <div>
                <label for="video-url" id="url-io">
                    <input
                        placeholder="{{ urlPlaceholder }}"
                        [ngClass]="{'placehold-error-text': urlPlaceholderErrorDisplayed}"
                        (keyup.enter)="submitForm()"
                        type="text"
                        name="video-url"
                        id="video-url"
                        formControlName="{{ fgUrlKey }}"
                        autocomplete="off">
                    <div>
                        <button (click)="submitForm()" [ngClass]="{'button-disabled': urlHasNotBeenEntered}">
                            Get {{media | titlecase}}
                        </button>
                        <button>Paste URL</button>
                    </div>
                </label>
                <p>{{ urlError }}</p>
            </div>
        </div>
        <div class="controls-section">
            <cc-preview [show]="true" [loading]="showLoader" [dl]="dl"></cc-preview>
        </div>
        <div class="controls-section">
            <cc-options [formGroup]="videoForm" [optionsButtons]="optionsButtons"></cc-options>
        </div>
        <div class="controls-section">
            <cc-about></cc-about>
        </div>
    </form>
</div>