<div class="card card-center" id="container">
    <h3 class="card-title no-select">Terms of Service</h3>
    <div id="content">
        <div class="section">
            <p>By using ClipClutch, you agree to these Terms of Use. If you do not agree with the Terms, please do not use our app.</p>
        </div>
        <div class="section">
            <h4>Using Our Service</h4>
            <p>You may use ClipClutch for personal use only. You may not use our app for commercial purposes or in violation of any applicable laws or regulations. You are responsible for ensuring that any content you download using our app is not subject to copyright or other intellectual property rights owned by third parties.</p>
        </div>
        <div class="section">
            <h4>Prohibited Activities</h4>
            <p>You may not use ClipClutch to engage in any illegal or fraudulent activities or to transmit any content that is unlawful, defamatory, harassing, or otherwise objectionable. You may not use our app to distribute viruses or other malicious code or to interfere with the proper functioning of our app or any other system or network.</p>
        </div>
        <div class="section">
            <h4>Disclaimers</h4>
            <p>ClipClutch is provided "as is" and without any warranties, express or implied. We do not guarantee that our app will be error-free or that it will meet your expectations. We are not responsible for any damages arising from your use of our app.</p>
        </div>
        <div class="section">
            <h4>Limitation of Liability</h4>
            <p>To the fullest extent permitted by law, ClipClutch and its affiliates, officers, employees, agents, and licensors will not be liable for any indirect, incidental, special, or consequential damages arising from your use of our app.</p>
        </div>
        <div class="section">
            <h4>Updates to these Terms</h4>
            <p>We may update these Terms of Use from time to time.</p>
        </div>
        <div class="section">
            <h4>Contact Us</h4>
            <p>If you have any questions or concerns about these Terms of Use, please contact us by <a href="/contact">using the contact page.</a></p>
        </div>
    </div>
</div>