<div *ngIf="show" class="card" id="container">
    <h3 class="card-title">Download</h3>
    <div id="content">
        <cc-loading-animation *ngIf="loading; else loaded"></cc-loading-animation>
    </div>
    <ng-template #loaded>
        <audio controls *ngIf="dl?.media === 'audio'; else video">
            <source src="{{ dl?.path }}" type="audio/{{ dl?.format }}">
            Your browser does not support HTML native playback of audio.
        </audio>
        <p>Content will expire after 25 minutes.</p>
        <p>Click <a href="{{baseUrl}}{{dl?.path}}" download>here</a> to download.</p>
    </ng-template>
    <ng-template #video>
        <video width="320" height="180" controls>
            <source src="{{ dl?.path }}" type="video/{{ dl?.format }}">
            Your browser does not support HTML native playback of video.
        </video>
    </ng-template>
</div>
