#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


h3 {
    background: var(--PREVIEW_CARD_HEADER_BG);
}

#content {
    margin: 1rem;
}

video {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

p {
    text-align: center;
}

#anchor-container {
    display: flex;
    justify-content: center;
}

.download-anchor {
    color: var(--PREVIEW_CARD_DOWNLOAD_BUTTON);
    text-decoration: none;
    margin: .5rem .5rem 0 .5rem;
    padding: .5rem;
    background: none;
    border: solid 1px var(--PREVIEW_CARD_DOWNLOAD_BUTTON_BORDER);
    border-radius: 5px;
    font-size: large;
}
