#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h3 {
    background-color: #73a772;
}

#content {
    margin: 1rem;
}

video {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

p {
    text-align: center;
}

#anchor-container {
    display: flex;
    justify-content: center;
}

.download-anchor {
    color: white;
    text-decoration: none;
    margin: .5rem;
    padding: .5rem;
    background-color: #53aaf1;
    border-radius: 5px;
}
