<div class="card" id="container">
    <h3 class="card-title no-select">About</h3>
    <div id="content">
        <div class="section">
            <h3>How to Download Content</h3>
            <p id="how-to-intro">Downloading content from YouTube is a breeze with ClipClutch. <b>Simply copy the YouTube URL into the input field and click the button</b>, and you'll have your favorite videos downloaded in no time!</p>
        </div>
        <div class="section">
            <h3>Our Features</h3>
            <div id="feature-container">
                <div class="feature">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="64px" viewBox="0 0 24 24" width="64px" fill="#000000">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M6 2c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6H6zm7 7V3.5L18.5 9H13z"/>
                    </svg>
                    <h4>Multiple Formats</h4>
                    <p>We support downloading in multiple formats <b>(MP4, WebM, M4A, MP3)</b></p>
                </div>
                <div class="feature">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="64px" viewBox="0 0 24 24" width="64px" fill="#000000">
                        <g>
                            <rect fill="none" height="64" width="64"/>
                        </g>
                        <g>
                            <path d="M5,20h14v-2H5V20z M19,9h-4V3H9v6H5l7,7L19,9z"/>
                        </g>
                    </svg>
                    <h4>Unlimited Downloads</h4>
                    <p><b>Enjoy unlimited downloads</b>. Download as much YouTube content as you want.</p>
                </div>
                <div class="feature">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="64px" viewBox="0 0 24 24" width="64px" fill="#000000">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
                    </svg>
                    <h4>In-browser preview</h4>
                    <p>You can also <b>preview the video in your browser</b> before you download it.</p>
                </div>
                <div class="feature">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="64px" viewBox="0 0 24 24" width="64px" fill="#000000">
                        <path d="M0 0h24v24H0z" fill="none"/><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                    </svg>
                    <h4>No account required</h4>
                    <p>Videos can be <b>downloaded without an account</b>, simple!</p>
                </div>
                <div class="feature">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="64px" viewBox="0 0 24 24" width="64px" fill="#000000">
                        <path d="M0 0h24v24H0z" fill="none"/><path d="M17 1.01L7 1c-1.1 0-2 .9-2 2v18c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V3c0-1.1-.9-1.99-2-1.99zM17 19H7V5h10v14z"/>
                    </svg>
                    <h4>Full device compatibility</h4>
                    <p><b>Any device</b> can be used to download your favorite youtube videos.</p>
                </div>
            </div>
        </div>
    </div>
</div>
