#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#content {
    margin: 1rem;
}

.section {
    margin-bottom: 1rem;
}

#how-to-intro {
    margin-top: .5rem;
}

#feature-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

p {
    color: #323436;
}

.feature {
    width: 14rem;
    margin: 1rem;
}

.feature > p {
    text-align: center;
}

h3.card-title {
    background: var(--ABOUT_CARD_HEADER_BG);
}

.section > h3 {
    text-align: center;
    color: var(--ABOUT_CARD_SECTION_HEADER);
    font-size: larger;
    margin-bottom: .5rem;
}

h4 {
    text-align: center;
    color: rgb(213, 144, 104);
}

.icon {
    display: block;
    fill: rgb(213, 144, 104);
    height: 64px;
    width: 64px;
    margin-left: auto;
    margin-right: auto;
}