<div class="card card-center" id="container">
    <h3 class="card-title no-select">Privacy Policy</h3>
    <div id="content">
        <div class="section">
            <h4>ClipClutch Privacy Policy</h4>
            <p>We are committed to protecting your privacy when you use our app. This Privacy Policy explains how we collect, use, and disclose your information.</p>
        </div>
        <div class="section">
            <h4>Information We Collect</h4>
            <p>We may collect the following types of information:</p>
            <ul>
                <li>Your email address, if you contact us.</li>
                <li>Device and usage information, such as your IP address, browser type, and operating system.</li>
            </ul>
        </div>
        <div class="section">
            <h4>How We Use Your Information</h4>
            <p>We may use your information for the following purposes:</p>
            <ul>
                <li>To communicate with you regarding queries sent via the contact page.</li>
                <li>To investigate and prevent fraudulent or illegal activities.</li>
            </ul>
        </div>
        <div class="section">
            <h4>Sharing Your Information</h4>
            <p>We may share your information with third parties in the following circumstances:</p>
            <ul>
                <li>To comply with applicable laws or regulations or to respond to a subpoena, search warrant, or other lawful request for information we receive.</li>
                <li>To protect our rights, property, or safety or the rights, property, or safety of our users or others.</li>
            </ul>
        </div>
        <div class="section">
            <h4>Changes to this Privacy Policy</h4>
            <p>We may update this Privacy Policy from time to time.</p>
        </div>
        <div class="section">
            <h4>Contact Us</h4>
            <p>If you have any questions or concerns about this Privacy Policy, please contact us by <a href="/contact">using the contact page.</a></p>
        </div>
    </div>
</div>
