<div class="card" id="options-card">
    <h3 class="no-select">Options</h3>
    <div [formGroup]="videoForm"  id="options-buttons">
        <div class="button-container" *ngFor="let button of optionsButtons">
            <h5 class="no-select" [ngClass]="{'tooltip': !!button.description}">
                {{ button.heading }}
                <div class="tooltiptext">{{ button.description }}</div>
            </h5>
            <label class="switch">
                <input formControlName="{{ button.id }}" class="options-checkbox" type="checkbox" id="{{ button.id }}">
                <span class="slider"></span>
            </label>
        </div>
    </div>
</div>