#options-card {
    display: flex;
}

#options-card > h3 {
    background: var(--OPTIONS_CARD_HEADER_BG);
    color: var(--CARD_TITLE);
    text-transform: uppercase;
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    padding: 0 1rem 0 1rem;
    border-radius: var(--CARD_BORDER_RADIUS) 0 0 var(--CARD_BORDER_RADIUS);
}

#options-buttons {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    justify-content: space-around;
    width: 100%;
    padding: 2rem;
}

#options-title {
    align-self: center;
    height: 100%;
}

.button-container {
    flex-basis: 7rem;
    height: 4rem;
    margin: .5rem;
}

h5 {
    color: var(--OPTIONS_CARD_CHECKBOX_HEADER);
    text-align: center;
    margin-bottom: .5rem;
    cursor: default;
}

.tooltip {
    position: relative;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.tooltip > .tooltiptext {
    position: absolute;
    bottom: 1rem;
    left: 6.7rem;
    visibility: hidden;
    width: 8rem;
    background-color: var(--OPTIONS_CARD_TOOLTIP_BG);
    color: var(--OPTIONS_CARD_TOOLTIP);
    text-align: center;
    border-radius: 5px;
    padding: .2rem .1rem;
}

.tooltip:hover > .tooltiptext {
    visibility: visible;
}

.switch {
    position: relative;
    left: 1.5rem;
    display: inline-block;
    width: 4rem;
    height: 2.12rem;
}

.options-checkbox {
    display: block;
    opacity: 0;
    width: 0;
    height: 0;
}

.options-checkbox:checked + .slider {
    background: var(--OPTIONS_CARD_CHECKBOX_ACTIVE);
}

.options-checkbox:checked + .slider:before {
    transform: translateX(1.85rem);
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--OPTIONS_CARD_CHECKBOX_INACTIVE);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--OPTIONS_CARD_CHECKBOX_SLIDER);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}